body{
    margin: auto;
}
#header{
    height:60px;
    width: 100%;
    background-color: #d06a36;
}
#icon{
    font-size:30px;
    color: rgb(235, 226, 226);
    font-weight: bold;
    margin-left: 1%;
    margin-top: 10px;
    position:absolute;
}
#social{
    float: right;
    margin-right: 2%;
}
a{
    text-decoration: none;
}
.slogo{
    height:50px;
    width:50px;
}

/* Search CSS */

#search{
    height:400px;
    width: 100%;
    background-image: url('images/foodWallpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 400px;
}

#logo{
    height:150px;
    width: 150px;
    background-color: rgb(255 255 255 / 45%);
    border-radius: 50%;
    margin-left: 43%;
    margin-top: 2%;
    position: absolute;
    font-size: 80px;
    text-align: center;
}

#logo > span{
    margin-left:-34%;
    margin-top:18%;
    position: absolute;
}

#heading{
    font-size: 45px;
    text-align: center;
    margin-left: 34%;
    margin-top: 13%;
    color: white;
    position: absolute;
}
.dropDown{
    height: 60px;
    width: 50%;
    margin-left: 25%;
    margin-top: 19%;
    position: absolute;
}
select{
    height:60px;
    width:42%;
    font-size: 20px;
}
#restSelect{
    width:57%;
}

/* Quick CSS */

#quickSearch{
    height:600px;
    width: 80%;
    margin-left: 10%;
    margin-top: 3%; 
    
}

.quickHeading{
    color: #d06a36;
    font-size: 30px;
    font-weight: bold;    
    display:block;
    margin-left: 2%;
}
.quickSubHeading{
    color: gray;
    font-size: 20px;
    line-height: 3;
    margin-left: 2%;
}

.mainContainer{

}
.tileContainer{
    height: 180px;
    width:30%;
    margin-top: 3%;
    display: inline-block;
    margin-left: 2%;
    box-shadow: 10px 20px 10px grey;
}
.tileComponent1{
    width: 48%;
    float:left;
    height:180px;
}

.tileComponent1 > img {
    height: 180px;
    width: 100%;
}

.tileComponent2{
    width: 45%;
    float: left;
    height: 180px;
    margin-top: 14%;
    margin-left:5%;
}

.componentHeading{
    color: #d06a36;
    font-size:25px;
}

.componentSubHeading{
    color: gray;
    font-size:18px;
}
/* footer CSS */
#footer{
    height:60px;
    width: 100%;
    background-color: #d06a36;
    text-align: center;
    font-size:20px;
    padding: 20px;
}
