body{
    margin: auto;
}
#header{
    height:75px;
    width: 100%;
    background-color: #d06a36;
}
.home{
    
}
.home > a{
    color:rgb(235, 226, 226);
    font-size:20px;
    margin-left: 20%;
    margin-top: -1%;
    
}
#icon{
    font-size:30px;
    color: rgb(235, 226, 226);
    font-weight: bold;
    margin-left: 1%;
    margin-top: 10px;
    position:absolute;
}
#social{
    float: right;
    margin-right: 2%;
    margin-top: -1%;
}
a{
    text-decoration: none;
}
.slogo{
    height:50px;
    width:50px;
}

#main{
    width:80%;
    margin-left: 10%;
    margin-top:3%;
    display: inline-block;
}
#filter{
    height:600px;
    width: 25%;
    border: 2px groove black;
    float: left;
    
}

#filter > input{
    margin-left: 10%;
}
#content-main{
    width: 68%;
    float: left;
    margin-left: 5%;
    margin-top: -1.5%;
}

.content{
    height: 300px;
    width: 100%;
    /* border: 2px solid olive; */
    margin-top: 2%;
    box-shadow: 10px 20px 10px grey;
}
.content > img{
    height: 260px; 
    width:300px; 
    border-radius: 10%;
}
.content > h2{
    /* display: inline-block; */
    margin-left: 332px;
    margin-top: -248px;
    color: blue;
}
.content > p{
    margin-left: 336px;
    margin-top: 35px;
}
.content > button1{
    margin-left: 330px;
    margin-top: 11px;
}
.content > button2{
    margin-left: 16px;
    margin-top: 8px;
}
.content > button3{
    margin-left: 330px;
    margin-top: 29px;
}
.content > button4{
    margin-left: 449px;
    margin-top: -34px;
}
/* footer CSS */
#footer{
    margin-top:2%;
    height:60px;
    width: 100%;
    background-color: #d06a36;
    text-align: center;
    font-size:20px;
    padding: 20px;
}